body {
    margin: 0;
    background: rgb(204, 204, 204);
}
.main-contents {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
}


.members-table table {
    width: 50%;
    margin: 0 auto;
}
.members-table th {
    width: 33%;
    background: rgb(134, 205, 207);
    padding: 10px;
    text-align: center;
}
.members-table td {
    text-align: center;
    padding: 5px;
}
.show-buttons {
    width: 50%;
    margin: 30px auto;
}